apiVersion: apps/v1
kind: Deployment
metadata:
  name: javawebappdeployment
spec:
  strategy:
    type: Recreate
  replicas: 2
  selector:
    matchLabels:
      app: javawebapp 
  template:
    metadata:
      name: javapods
      labels:
        app: javawebapp
    spec:
      containers:
      - name: javaappcontainers
        image: redbull200/java-web-app:IMAGEVERSION
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: javawebappsvc
spec:
  type: NodePort
  selector:
    app: javawebapp
  ports:
  - port: 80
    targetPort: 8080

